<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('app_eportfolio') }}">E-Portfolio</a></li>
                <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
                <li><a href="{{ path('app_ensavoirplus') }}">En savoir+</a></li>
                <li><a href="{{ path('app_portfolio') }}">Portfolio</a></li>
                <li><a href="{{ path('app_cv') }}">CV</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <!-- Pied de page si nécessaire -->
    </footer>
    {% block javascripts %}{% endblock %}
</body>
</html>
